name: MSBuild
on: [workflow_dispatch, push, pull_request]

env:
  BUILD_PLATFORM: x64
  BUILD_CONFIGURATION: Release
  BUILD_PLATFORMTOOLSET: v143

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with: 
        msbuild-architecture: x64
    - name: Build
      run: msbuild -maxCpuCount -property:Configuration=${{env.BUILD_CONFIGURATION}},Platform=${{env.BUILD_PLATFORM}},PlatformToolset=${{env.BUILD_PLATFORMTOOLSET}} .
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{github.event.repository.name}}_${{env.BUILD_PLATFORM}}
        compression-level: 9
        path: ${{env.BUILD_PLATFORM}}/*.exe
